{% extends 'table.html' %}

{% block header %}
    Business
{% endblock %}

{% block section %}
    Business
{% endblock %}

{% block subsection %}
    Stores
{% endblock %}

{% block table_title %}
    <h3 class="box-title">Stores</h3>
    <a href="{% url 'stores-add' %}" class="btn btn-default" style="float:right"><i class="fa fa-plus"></i> Add</a>
{% endblock %}

{% block table_header %}
    <th>Name</th>
    <th>Rif</th>
    <th>Address</th>
    <th>Email</th>
    <th>Status</th>
    <th>Action</th>
{% endblock %}
                    
{% block table_body %}    
    {% for s in stores %}
        <tr>
            <td><a title="Details" href="{% url 'store' pk=s.pk %}">{{ s.name }}</a></td>
            <td>{{ s.rif }}</td>
            <td>{{ s.address }}</td>
            <td>{{ s.email }}</td>
            {% if s.is_active %}
                <td><form action="{% url 'store-edit-status' pk=s.pk %}" method="post">{% csrf_token %}<input name="is_active" type="hidden" value="False"><button class="btn-link" type="submit"><div title="Set inactive">Active</div></button></form></td>
            {% else %}
                <td><form action="{% url 'store-edit-status' pk=s.pk %}" method="post">{% csrf_token %}<input name="is_active" type="hidden" value="True"><button class="btn-link" type="submit"><div title="Set active">Inactive</div></button></form></td>
            {% endif %}
            <td>
                <a title="Edit" href="{% url 'store-edit' pk=s.pk %}"><i class="icon-btn fa fa-edit"></i></a>
                <form action="{% url 'store-delete' pk=s.pk %}" method="post" class="form-inline">{% csrf_token %}<button class="btn-link" type="submit"><i title="Delete" class="fa fa-trash"></i></button></form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
               
{% block table_footer %}
    <th>Name</th>
    <th>Rif</th>
    <th>Address</th>
    <th>Email</th>
    <th>Status</th>
    <th>Action</th>
{% endblock %}