{% extends 'form.html' %}

{% block header %}
  Advertising Campaign
{% endblock %}

{% block header_small %}
  Details
{% endblock %}

{% block section %}
  <a href="{% url 'advertisingcampaigns' %}">Campaigns</a>
{% endblock %}

{% block subsection %}
  <a href="{% url 'advertisingcampaigns' %}">Advertising Campaigns</a>
{% endblock %}

{% block sub_subsection %}
  Details
{% endblock %}

{% block form_errors %}
{% endblock %}

{% block form %}
    <div class="box-body">
      <div class="form-group">
        <label>Target</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-star"></i>
          </div>
          <input type="text" class="form-control" value="{{ advertisingcampaign.target }}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label>Start Date</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input type="text" class="form-control" value="{{ advertisingcampaign.start_date }}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label>End Date</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input type="text" class="form-control" value="{{ advertisingcampaign.end_date }}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label>Promotions</label>
        <ul class="list-group">
          {% if promotions %}
            {% for p in promotions %}
              <li class="list-group-item">
                {{ p }}
                <form action="{% url 'advertisingcampaign-remove-promotion' pk=advertisingcampaign.pk promotion=p.pk %}" method="post" class="form-inline" style="float: right">
                  {% csrf_token %}
                  <button class="btn-link" type="submit" style="color: black">
                    <i title="Remove" class="fa fa-close"></i>
                  </button>
                </form>
              </li>
            {% endfor %}
          {% else %}
            <li class="list-group-item">This advertising campaign doesn't have promotions</li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!-- /.box-body -->
{% endblock %}

{% block form_script %}
{% endblock %}
