{% extends 'base.html' %}

{% block content %}

    <form role="form" action="{% url 'advertisingcampaign' pk=advertisingcampaign.pk %}" method="post">
      {% csrf_token %}
      <div class="box-body">
        {{ form.non_field_errors }}
        <div class="form-group">
          {{ form.target.errors }}
          <label for="{{ form.target.id_for_label }}">Target</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-star"></i>
            </div>
            {{ form.target }}
          </div>
        </div>
        <div class="form-group">
          {{ form.start_date.errors }}
          <label for="{{ form.start_date.id_for_label }}">Start Date</label>
          <div class="input-group date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            {{ form.start_date }}
          </div>
        </div>
        <div class="form-group">
          {{ form.end_date.errors }}
          <label for="{{ form.end_date.id_for_label }}">End Date</label>
          <div class="input-group date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            {{ form.end_date }}
          </div>
        </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
    </form>

    <script>
      $(document).ready(function(){
        $('input').addClass('form-control');
        $('#id_target').attr("placeholder", "Target");
        $('#id_start_date').attr("placeholder", " Start Date");
        $('#id_end_date').attr("placeholder", " End Date");
        $('#id_target').attr("value", "{{ advertisingcampaign.target }}");
        $('#id_start_date').attr("value", "{{ advertisingcampaign.start_date }}");
        $('#id_end_date').attr("value", "{{ advertisingcampaign.end_date }}");
        
        // Date picker
        $('#id_start_date').datepicker({
          autoclose: true
        });
        // Date picker
        $('#id_end_date').datepicker({
          autoclose: true
        });
      });

    </script>


{% endblock %}