{% extends 'base.html' %}

{% block content %}

    <form role="form">
      <div class="box-body">
        <div class="form-group">
          <label>Target</label>
          <input type="text" class="form-control" value="{{ advertisingcampaign.target }}" disabled>
        </div>
        <div class="form-group">
          <label>Fecha de Inicio</label>
          <input type="text" class="form-control" value="{{ advertisingcampaign.start_date }}" disabled>
        </div>
        <div class="form-group">
          <label>Fecha de Fin</label>
          <input type="text" class="form-control" value="{{ advertisingcampaign.end_date }}" disabled>
        </div>
      </div>
      <!-- /.box-body -->
    </form>

{% endblock %}