{% extends 'table.html' %}

{% block header%}
<h1>
    Usuarios
</h1>
{% endblock %}

{% block section %} <li>Usuarios</li> {% endblock %}
{% block subsection %} <li class="active">Usuarios Comunes</li> {% endblock %}

{% block table_title %}
    <h3 class="box-title">Usuarios Comunes</h3>
{% endblock %}

{% block table_header %}
    <th>Usuario</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Tipo de Cuenta</th>
{% endblock %}
                    
{% block table_body %}    
    {% for u in users %}
        <tr>
            <td><a href="{% url 'user' pk=u.pk %}">{{ u.user.username }}</a></td>
            <td>{{ u.user.first_name }}</td>
            <td>{{ u.user.last_name }}</td>
            <td>{{ u.user.email }}</td>
            {% if u.acc_type == "FB" %}
                <td>Facebook</td>
            {% elif u.acc_type == "G" %}
                <td>Google</td>
            {% else %}
                <td>Twitter</td>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock %}
               
{% block table_footer %}
    <th>Usuario</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Tipo de Cuenta</th>
{% endblock %}
