{% extends 'form.html' %}

{% block header %}
  Admin
{% endblock %}

{% block header_small %}
  Details
{% endblock %}

{% block section %}
  <a href="">Users</a>
{% endblock %}

{% block subsection %}
  <a href="">Admin</a>
{% endblock %}

{% block sub_subsection %}
  Details
{% endblock %}

{% block form_errors %}
{% endblock %}

{% block form %}
  <div class="box-body">
    <div class="form-group">
      <label>Username</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-user"></i>
        </div>
        <input type="text" class="form-control" value="{{ user.username }}" disabled>
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-envelope"></i>
        </div>
        <input type="email" class="form-control" value="{{ user.email }}" disabled>
      </div>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" value="{{ user.first_name }}" disabled>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" value="{{ user.last_name }}" disabled>
    </div>
  </div>
  <!-- /.box-body -->
{% endblock %}

{% block form_script %}
{% endblock %}
