{% extends 'table.html' %}

{% block header%}
<h1>
    Negocios
</h1>
{% endblock %}

{% block section %} <li>Negocios</li> {% endblock %}
{% block subsection %} <li class="active">Promociones</li> {% endblock %}

{% block table_title %}
    <h3 class="box-title">Promociones</h3>
    <a href="{% url 'promotions-new' %}" class="btn btn-default" style="float:right"><i class="fa fa-plus"></i> Crear</a>
{% endblock %}

{% block table_header %}
    <th>Descripción</th>
    <th>Productos</th>
    <th>Descuento</th>
{% endblock %}
                    
{% block table_body %}    
    {% for p in promotions %}
        <tr>
            <td><a href="{% url 'promotion' pk=p.pk %}">{{ p.description }}</a></td>
            <td>{{ p.products }}</td>
            <td>{{ p.discount }} %</td>
        </tr>
    {% endfor %}
{% endblock %}
               
{% block table_footer %}
    <th>Descripción</th>
    <th>Productos</th>
    <th>Descuento</th>
{% endblock %}