{% extends 'form.html' %}

{% block header %}
  Store Manager
{% endblock %}

{% block header_small %}
  Add
{% endblock %}

{% block section %}
  <a href="{% url 'storemanagers' %}">Users</a>
{% endblock %}

{% block subsection %}
  <a href="{% url 'storemanagers' %}">Store Managers</a>
{% endblock %}

{% block sub_subsection %}
  Add
{% endblock %}

{% block form %}
  <form role="form" action="{% url 'storemanagers' %}" method="post">
    {% csrf_token %}
    <div class="box-body">
      {{ user_form.non_field_errors }}
      {{ sm_form.non_field_errors }}
      <div class="form-group">
        <label for="{{ user_form.username.id_for_label }}">Username</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-user"></i>
          </div>
          {{ user_form.username }}
        </div>
        {{ user_form.username.errors }}
      </div>
      <div class="form-group">
        <label for="{{ sm_form.email.id_for_label }}">Email</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </div>
          {{ sm_form.email }}
        </div>
        {{ sm_form.email.errors }}
      </div>
      <div class="form-group">
        <label for="{{ user_form.password.id_for_label }}">Password</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-lock"></i>
          </div>
          {{ user_form.password }}
        </div>
        {{ user_form.password.errors }}
      </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
{% endblock %}

{% block form_script %}
  <script>
    $(document).ready(function(){
      $('#id_password').attr("type", "password");
    });
  </script>
{% endblock %}