{% extends 'table.html' %}

{% block header%}
<h1>
    Usuarios
</h1>
{% endblock %}

{% block section %} <li>Usuarios</li> {% endblock %}
{% block subsection %} <li class="active">Encargados de Tiendas</li> {% endblock %}

{% block table_title %}
    <h3 class="box-title">Encargados de Tiendas</h3>
    <a href="{% url 'storemanagers-new' %}" class="btn btn-default" style="float:right"><i class="fa fa-plus"></i> Crear</a>
{% endblock %}

{% block table_header %}
    <th>Usuario</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Estado</th>
{% endblock %}
                    
{% block table_body %}    
    {% for u in users %}
        <tr>
            <td><a href="{% url 'storemanager' pk=u.pk %}">{{ u.user.username }}</a></td>
            <td>{{ u.user.first_name }}</td>
            <td>{{ u.user.last_name }}</td>
            <td>{{ u.user.email }}</td>
            {% if u.is_active %}
                <td><i class="fa fa-check"></i></td>
            {% else %}
                <td><i class="fa fa-close"></i></td>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock %}
               
{% block table_footer %}
    <th>Usuario</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Estado</th>
{% endblock %}