{% extends 'form.html' %}

{% block header %}
  Company
{% endblock %}

{% block header_small %}
  Edit
{% endblock %}

{% block section %}
  <a href="{% url 'companies' %}">Business</a>
{% endblock %}

{% block subsection %}
  <a href="{% url 'companies' %}">Companies</a>
{% endblock %}

{% block sub_subsection %}
  Edit
{% endblock %}

{% block form_errors %}
  {% if form.errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {% for field in form %} 
        {% if field.errors %}
        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block form %}
  <form role="form" action="{% url 'company' pk=company.pk %}" method="post">
    {% csrf_token %}
    <div class="box-body">
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Name</label>
        {{ form.name }}
      </div>
      <div class="form-group">
        {{ form.rif.errors }}
        <label for="{{ form.rif.id_for_label }}">Rif</label>
        {{ form.rif }}
      </div>
      <div class="form-group">
        {{ form.address.errors }}
        <label for="{{ form.address.id_for_label }}">Address</label>
        {{ form.address }}
      </div>
      <div class="form-group">
        {{ form.commercial_sector.errors }}
        <label for="{{ form.commercial_sector.id_for_label }}">Area</label>
        {{ form.commercial_sector }}
      </div>
      <div class="form-group">
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
      </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
  </form>
{% endblock %}

{% block form_script %}
  <script>
    $(document).ready(function(){
      $('#id_name').attr("value", "{{ company.name }}");
      $('#id_rif').attr("value", "{{ company.rif }}");
      $('#id_address').attr("value", "{{ company.address }}");
      $('#id_commercial_sector').attr("value", "{{ company.commercial_sector }}");
      $('#id_email').attr("value", "{{ company.email }}");
    });
  </script>
{% endblock %}
